body{
    background: #d8dfe8;
}

/* Logo */
.posicion-logo{
    display: flex;
    margin-top: 2%;
    margin-left: 3%;
    align-items: flex-end;
}

/* Primera division */
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Textarea de entrada */
.texto-usuario {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    background: #d8dfe8;
    border: none;
    color: #0A3871;
    resize: none;
    word-wrap: break-word;
}


.texto-usuario:focus{
    outline: none;
}

.texto-usuario::placeholder{
    font-weight: bold;
    color: #0A3871;
}

/* Terminos */
.condicion {
    width: 80%;
    position: absolute;
    left: 12%;
    top: 85%;
}

.condicion p{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Botones */
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 87%;
    gap: 15px;
}

.btn-encriptar{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    cursor: pointer;
    font-size: 18px;
    line-height: 19px;
    border-radius: 25px;
    color: #FFFFFF;
    background: #0a3871;
    border: 1px solid #d8dfe8;
}

.btn-desencriptar{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    cursor: pointer;
    font-size: 18px;
    line-height: 19px;
    border-radius: 25px;
    color: #0a3871;
    background: #d8dfe8;
    border: 2px solid #0a3871;
}

.btn-encriptar:hover{
    opacity: 0.9;
    transition: 1s;
}

.btn-desencriptar:hover{
    opacity: 0.8;
    background: gainsboro;
    transition: 1s;
}

/* Segunda division */
.salida{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 60%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgb(0, 0, 0, 0.08);
    border-radius: 32px;
}


.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.informacion img{
    width: 80%;
    height: 45%;
}

.informacion h1{
    font-family: 'Open Sans', sans-serif;
    width: 60%;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin-top: 10px;
}

.informacion p{
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    margin-top: 10px;
}

.infoCopiar{
    height: 95%;
    width: 90%;
    text-align: center;
    display: none;
}


.textareaSalida{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #0A3871;
    border: none;
    background: white;
    resize: none;
    word-wrap: break-word;
    width: 100%;
    height: 92%;
    background: none;
}

.textareaSalida:focus{
    outline: none;
}

.botonCopiar{
    padding: 6%;
    width: 80%;
    cursor: pointer;
    font-size: 18px;
    line-height: 19px;
    border-radius: 25px;
    color: #0A3871;
    background: #FFFFFF;
    border: 2px solid #0A3871;
}

.botonCopiar:hover{
    background: #d8dfe8;
}

/* Responsive */
@media(max-width: 57.5em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .entrada{
        width: 100%;
    }
    .texto-usuario{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .condicion{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .condicion p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, 
    .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .salida{
        width: 80%;
        height: 27%;
        left: 10%;
        top: 80%;
    }
    .informacion{
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .salida img{
        top: 0;
        display: none;
    }
    .textareaSalida{
        height: 70%;
        background: none;
    }
    .botonCopiar{
        padding: 3%;
        width: 50%;
        margin-top: 7px;
    }
}